body {
	display: grid;
	grid-template-columns: 12;
	background-color: #ffffff;
	margin: 0;
}
.container {
	width: 80%;
	margin: auto;
	padding: 0;
	overflow: auto;
}
ul {
	margin: 0;
	padding: 0;
}
#branding {
	background-color: #eed0c5;
	width: 100%;
	height: 142px;
	margin: 0;
	padding: 0;
}
#logo {
	margin-left: 10%;
	margin-top: 39px;
	float: left;
}
nav {
	background-color: rgba(43, 43, 43, .9);
	width: 100%;
	height: 50px;
	margin: 0;
	padding: 0;
}
.leftNav ul {
	margin-left: 9%;
	padding: 0;
}
.rightNav ul {
	margin-right: 9%;
	padding: 0;
}
.leftNav li {
	float: left;
	display: inline;
	padding: 15px 20px 0 20px;
}
.rightNav li {
	float: right;
	display: inline;
	padding: 15px 20px 0 20px;
}
nav a {
	list-style: none;
	text-decoration: none;
	color: #ffffff;
	font-family: Arial, sans-serif;
	font-size: 12px;
}
/* Fonts */
h1 {
	font-family: linotype-didot, serif;
	font-weight: 700;
	font-style: normal;
}
